# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.npm-cache/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
temp-export-check*/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.idea/

# accidental command-output fragments
/A
/Configure
/cs
/Failed
/Get
/npx
/Run
/SDK
/Task
/Unit)
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
